<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
	  <%= gravatar_for @user, :size => 105 %>
      <h1>
        <%= @user.name %>
      </h1>
	  <h2><%= @user.tagline %></h2>
	  <h3><%= @user.location %></h3>
	  <% unless @user.posts.empty? %>
        <table class="posts" summary="User posts">
          <%= render @posts %>
        </table>
        <%= will_paginate @posts %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
	  <strong>Posts</strong> <%= @user.posts.count %>
    </td>
  </tr>
</table>

